{% extends "base.html" %}
{% block content %}
    <table cellspacing="0" border="1" width="60%">
        {% for i in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ i.username }}</td>
                <td>{{ i.password }}</td>
                <td id="del"><a href="javascript:;" onclick="del('{{ i.username }}')">删除</a></td>
                <td id="del"><a href="javascript:;" onclick="update('{{ i.username }}')">修改</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block my_script %}
    <script>
        function del(name) {
            location.href = "/user/del?username=" + name;
        }

        function update(name) {
            location.href = "/user/update?username=" + name;
        }
    </script>
{% endblock %}